[Unit]
Description=Robot Mindset Linux
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /opt/robot_mindset/linux/run.sh
WorkingDirectory=/opt/robot_mindset/linux

[Install]
WantedBy=multi-user.target
