---
- name: Example Playbook
  hosts: localhost
  roles:    
{%- if args.ansible is defined %}
  {%- if args.ansible.add_user is defined %}
    {%- if args.ansible.add_user.users is not none %}
    - role: add-user
      users: {{ args.ansible.add_user.users }}
    {%- endif %}
  {%- endif %}
{%- endif %}

    - role: NIC
      network_name: private
      ethernet_interface_name: ens19
      ipv4: 10.0.0.3/24
      auto_connect: true
    - role: NIC
      network_name: internet
      ethernet_interface_name: ens19
      method4: auto
      auto_connect: true