---
- name: Example Playbook
  hosts: localhost
  roles:    
    # - role: add_user
    #   users:
    #     - name: mdh
    #       password: test
    #       groups:
    #         - docker
    #       nonsudo_allowed_sudo_commands: []
    - role: vpn
{%- if args.networks is defined %}
  {%- for item in args.networks %}
    {%- if item.ipv4 is defined %}
    - role: NIC
      network_name: {{ item.name }}
      ethernet_interface_name: {{ item.name }}
      ipv4: {{ item.ipv4 }}
      auto_connect: true
    {%- else %}
    - role: NIC
      network_name: {{ item.name }}
      ethernet_interface_name: {{ item.name }}
      method4: auto
      auto_connect: true
    {%- endif %}
  {%- endfor %}
{%- endif %}

