---
- name: Example Playbook
  hosts: localhost
  roles:    
    # - role: add_user
    #   users:
    #     - name: mdh
    #       password: test
    #       groups:
    #         - docker
    #       nonsudo_allowed_sudo_commands: []
    # - role: vpn
{%- if args.networks is defined %}
  {%- for item in args.networks %}
    {%- if item.ipv4 is defined %}
    - role: NIC
      network_name: {{ item.name }}
      ethernet_interface_name: {{ item.name }}
      ipv4: {{ item.ipv4 }}
      auto_connect: true
    {%- else %}
    - role: NIC
      network_name: {{ item.name }}
      ethernet_interface_name: {{ item.name }}
      method4: auto
      auto_connect: true
    {%- endif %}
  {%- endfor %}
  {%- if args.linux_kernel is defined %}
  {%- if args.linux_kernel.realtime is defined%}
    - role: realtime-patch
        vars:
          version_major: {{ args.linux_kernel.realtime.version_major | default(6) }}
          version_minor: {{ args.linux_kernel.realtime.version_minor | default(8) }}
          version_patch: {{ args.linux_kernel.realtime.version_patch | default(2) }}
          version_rt: {{ args.linux_kernel.realtime.version_rt | default(11) }}
          working_dir: /robot_mindset/data/linux_kernel
  {%- endif %}
  {%- endif %}
{%- endif %}

